.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  width: 220px;
  height: 100vh;
  padding: 1.5rem 1rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #eff0f0;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgb(194, 5, 21), 0 0 20px rgb(207, 5, 5);
  animation: neonPulse 2s infinite alternate;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.link {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.link:hover {
  color: #00ccff;
}

.logoutArea {
  margin-top: auto;
  padding-top: 2rem;
}

@keyframes neonPulse {
  from {
    text-shadow: 0 0 5px  #00ccff, 0 0 10px  #00ccff;
  }
  to {
    text-shadow: 0 0 20px  #00ccff, 0 0 40px  #00ccff;
  }
}
